<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
    <f:for each="{paginatedFiles}" as="file" iteration="iter">
        <div class="col">
            <f:render partial="BwGallery/Cell" arguments="{file : file}" />
        </div>
    </f:for>
</div>


<f:comment>
<f:if condition="{data.imagecols}">
    <f:then>
        <f:comment>Feste Anzahl an Reihen</f:comment>
        <f:for each="{gallery.rows}" as="row">
            <div class="row">
                <f:for each="{row.columns}" as="column">
                    <f:if condition="{column.media}">
                        <div class="col">
                            <f:render partial="BwGallery/Cell" arguments="{_all}" />
                        </div>
                    </f:if>
                </f:for>
            </div>
        </f:for>
    </f:then>
    <f:else>
        <f:comment>Automatisch festgelegte Anzahl an Reihen</f:comment>

    </f:else>
</f:if>
</f:comment>