<div class="gallery row row-cols-2 row-cols-sm-{columns.sm} row-cols-md-{columns.md} row-cols-lg-{columns.lg} row-cols-xl-{columns.xl}">
    <f:for each="{files}" as="file" iteration="iter">
        <f:render partial="Image" arguments="{file : file, columns : columns, guid : guid, index : iter.index}" />
    </f:for>
</div>


<f:comment>

    srcset="
    {f:uri.image(image : file, height : '1000c', width : '1000c', crop : 1)} 1000w,
    {f:uri.image(image : file, height : '600c', width : '600c', crop : 1)} 600w
    {f:uri.image(image : file, height : '350c', width : '350c', crop : 1)} 350w
    "
    sizes="
    (min-width: 1200px) calc(100% / {columns.xl}),
    (min-width: 992px) calc(100% / {columns.lg}),
    (min-width: 768px) calc(100% / {columns.md}),
    (min-width: 576px) calc(100% / {columns.sm}),
    100vw
    "
</f:comment>