.tx-bw-gallery {
  @import "pagination";

  .row {
    $gutterwidth: 5px;
    margin: -$gutterwidth !important;
    .col {
      padding: $gutterwidth !important;
    }
  }

  .img-wrapper {
    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      color: #FFF;
      font-size: 0.7em;
      padding: 1px 4px;
      opacity: 0;
      transition: opacity 300ms;
    }
    img {
      width: 100%;
    }
    .categories {
      position: absolute;
      top: 0;
      right: 0;
      margin: 4px;
      line-height: 0.7em;

      .category {
        padding: 0 4px;
        background: rgba(0,0,0,0.5);
        color: #FFF;
        font-size: 0.7em;
      }
    }

    &:hover {
      .caption {
        opacity: 1;
      }
    }
  }
}